body{
    background-color: rgb(215, 219, 224);
    
}


.biography{
    position: relative;
    font-size: 18px;
    background-color:white; 
    color: black;
    widows: 40%;
    position: absolute; 
    padding: 20px 10px 10px 10px;
    top: auto;
    border-radius: 10px;

    height: auto;
    left: 10%; 
    right: 50%;
    
}
.about-me{
    position: relative;
    margin: 20px 10px 10px 10px;
    text-align: justify;
    word-break: break-all;
}
