body{
    font-size: 24px;
}
.identify{
    display: flex;
    flex-wrap: wrap;

}
img{

    position: relative;
    float: right;
    border-radius: 50px;
    left: 70%;
}

.follow{
    position: absolute;
    bottom: 40%;
    left: 10%;
}
